
<!DOCTYPE html>
<html>
	<%- partial('layout/layout_head.ejs') %>
	<body>
		<%- partial('layout/layout_header.ejs') %>

		<section id="headline" class="section bg-green">
			<div class="container category position-relative">
				<div class="tagging_warp">
					<img src="/images/category/category.png">
				</div>
				<div class="input_warp">
					<div class="category_btn active" data-id="all">
						<span>전체</span>
					</div>
					<div class="category_btn" data-id="sports">
						<span>#스포츠</span>
					</div>
					<div class="category_btn" data-id="game">
						<span>#게임</span>
					</div>
					<div class="category_btn" data-id="animal">
						<span>#애완동물</span>
					</div>
					<div class="category_btn" data-id="etc">
						<span>#뭐였지</span>
					</div>
				</div>
			</div>
		</section>

		<section class="main_warp">
			



			

			
		</section>
		

		<%- partial('layout/layout_footer.ejs') %>
	</body>
	<%- partial('layout/layout_script.ejs') %>

	<script>
		const a = `
	<div class="item">
		<div class="main">
			<img class="image" src="/images/index/test.png">
			<div class="column">
				<h5 class="title">스포츠 제목</h5>
				<p class="content">스포츠 내용</p>
				<div class="progress"><div class="progress_bar charging"></div></div>
				<span class="finish_date">#</span>
			</div>
		</div>
		<div class="overlay">
			<div class="image"><span>스포츠 제목</span></div>
			<div class="column">
				<a href="/category/detail/1" target="_blank"><div class="button detail">자세히 보기</div></a>
			</div>
		</div>
		</div>`;
		for (let i=0; i<20; i++) {
			$('.main_warp').append(a);
		}
	</script>
	<script src="/js/category.js"></script>
 
</html>
