
<!DOCTYPE html>
<html>
	<style>
		#url {
			width: 300px;
			border: 1px solid #dddddd;
			padding: 5px 10px;
		}
		
	</style>
	<script src="/js/jquery-3.4.1.min.js"></script>
	<input type="text" id="url">
	<button class="btn btn-primary" id="start">시작</button>

	<script>
		$(document).ready(function(){
			$('#start').on('click', function(){
				const url = $('#url').val();
				$.ajax({
					type : 'POST',
					url : '/active_process',
					data : {
						url
					},
					success : data => {alert('완료')},
					error : e => {},
					complete : data => {}
				});
			});
		});
		
	</script>
</html>
