<footer>
    <div class="sub-footer">
        <div class="mk-grid">
            <span class="mk-footer-copyright">©2019 All rights reserved. 💻 All Page content is property of codeline</span>
        </div>
    </div>

</footer>